* {
  border: solid red 1px;
  margin: 0;
}

main {
  text-align: center;
}

#home-links {
  display: flex;
  flex-wrap: wrap;
}

.home-link-container {
  width: 33%;
}

.home-link {
  padding: 2em;
}

.home-link img {
  width: 100%;
}

@media (min-width: 420px) {
    /*Link {
      width: 100%;
    }*/
  }
